// $body-bg: #f2f2f2;
// $primary: #3BA5DC;
// $secondary: #FF3697;
// $danger: #EB5757;
// $success: #27AE60;
// $warning: #FF7F50;
// $info: #00C9BD;
// $dark: #313130;

$body-bg:#ebebf1;
$white: #ffffff;
$white-transparent: rgba(242, 241, 243, .5);
$light: #e6dddf;

$primary: #1a7736;

$secondary: #1b4e30;
$dark: #041816;
$dark-transparent: rgba(4, 24, 22,.3);

$success: #92bd76;
$warning: #e08808;
$danger: #f74129;